.recommendationsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.productsHolder {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    grid-gap: 13px;
    padding-top: 26px;
}

.categoryName {
	text-align: center;
}