@font-face {
  font-family: 'Custom Font';
  src: url('/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Custom Font', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  font-family: "Custom Font", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

div, span, input[type="text"], textarea, select, button {
  font-family: "Custom Font", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
